@if (!getListItems().length) {
<div class="container">
  <img src="assets/img/task-list-null.png" alt="Sua lista está vazia -  Imagem ilustrativa" loading="eager" />

  @if(addItem()){
  <button class="btn btn-primary" (click)="addItem.set(false)">Crie uma lista de tarefas</button>
  } @else {
  <app-input-add-item 
    (outputAddListItems)="getInputAndAddItem($event)" 
    [inputListItems]="getListItems()" 
  />
  }
</div>
} @else {
  <app-input-add-item 
    (outputAddListItems)="getInputAndAddItem($event)" 
    [inputListItems]="getListItems()" 
  />

  <main class="container">
    @if (listItemStage('pending').length) {
      <h2>Pendências</h2>
      <app-input-list-item  
        [inputListItems]="listItemStage('pending')" 
        (outputUpdateItemChecked)="updateItemCheckbox($event)"  
      />
    }

    @if (listItemStage('completed').length) {
      <h2>Comcluídas</h2>
      <app-input-list-item  
        [inputListItems]="listItemStage('completed')" 
        (outputUpdateItemChecked)="updateItemCheckbox($event)" 
      />
    }
  </main>

  <footer>
    <button class="btn btn-danger" (click)="deleteAllItems()">Deletar todos os itens</button>
  </footer>
}